<div class="container">
  <div class="row">
    <div class="col-lg-6 landing-left">
        <%= render "devise/shared/dummy_phone"%>
    </div>
    <div class="col-lg-6 landing-right text-center d-flex align-items-center">
      <div>
        <div class="form-login box">
          <h2 class="core-sprite brand-name-img"></h2>
          <h5 class="light-color"><strong>sign up to see photos and <br/> videos froms your friends.</strong></h5>
          <hr>

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="field form-group">
              <br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "form-control" %>
            </div>

            <div class="field form-group">
              <br />
              <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Your name", class: "form-control" %>
            </div>

            <div class="field form-group">
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", class: "form-control" %>
            </div>

            <div class="field form-group">
              <br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password confirmation", class: "form-control" %>
            </div>

            <div class="actions">
              <%= f.submit "Sign up", class: "btn btn-primary" %>
            </div>
          <% end %>
          <p class="light-color">By siging up, you agree to our <br/><strong>term &amp; Privacy Policy.</strong> </p>
        </div>

        <div class="redirect-links box">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
